@media (max-width: 1186px) {
  .footer p {
    font-size: 13px;
  }
}
@media (max-width: 1138px) {
  .footer-sait img {
    max-width: 170px;
  }
}

@media (max-width: 1112px) {
  .metaverse img {
    max-width: 530px;
  }
}
@media (max-width: 1094px) {
  .metaverse-text p {
    font-size: 15px;
  }
}
@media (max-width: 1070px) {
  .metaverse-text p {
    font-size: 14px;
  }
}
@media (max-width: 1061px) {
  .metaverse img {
    max-width: 510px;
  }
}
@media (max-width: 1041px) {
  .metaverse-text h1 {
    font-size: 33px;
  }
}
@media (max-width: 1024px) {
  .metaverse img {
    max-width: 496px;
  }
}

@media (max-width: 1009px) {
  .main img {
    max-width: 450px;
  }
}
@media (max-width: 1005px) {
  .metaverse img {
    max-width: 480px;
  }
}
@media (max-width: 1000px) {
  .main-text h1 {
    font-size: 38px;
  }
}
@media (max-width: 991px) {
  .metaverse img {
    max-width: 463px;
  }
}

@media (max-width: 980px) {
  .main img {
    max-width: 442px;
  }

  #header {
    padding-block: 40px;
  }
}
@media (max-width: 973px) {
  .metaverse-text h1 {
    font-size: 31px;
  }
  .metaverse-text p {
    font-size: 13px;
  }
}
@media (max-width: 971px) {
  .main-text h1 {
    font-size: 36px;
  }
}
@media (max-width: 953px) {
  .metaverse img {
    max-width: 438px;
  }
}
@media (max-width: 951px) {
  .main img {
    max-width: 433px;
  }
  nav a {
    display: none;
  }
  .burger-menu {
    display: flex;
    color: aliceblue;
    font-size: 25px;
  }
  .main-btn button:first-child {
    padding: 16px 33px;
  }
  .main-btn button:last-child {
    padding: 14px 28px;
  }
}
@media (max-width: 941px) {
  .container {
    padding-inline: 50px;
  }
}
@media (max-width: 921px) {
  .main img {
    max-width: 426px;
  }
}
@media (max-width: 916px) {
  .main-text h1 {
    font-size: 33px;
  }
  .main-btn button:first-child {
    padding: 13px 30px;
  }
  .main-btn button:last-child {
    padding: 12px 24px;
  }
}
@media (max-width: 886px) {
  .metaverse img {
    max-width: 419px;
  }
}
@media (max-width: 884px) {
  .main img {
    max-width: 415px;
  }
}
@media (max-width: 874px) {
  .main-text h1 {
    font-size: 31px;
  }
}
@media (max-width: 868px) {
  .metaverse img {
    max-width: 403px;
  }
}
@media (max-width: 862px) {
  footer li {
    font-size: 13px;
  }
}
@media (max-width: 854px) {
  .main img {
    max-width: 400px;
  }
  .main-text P {
    font-size: 16px;
  }
}
@media (max-width: 853px) {
  .metaverse-text h1 {
    font-size: 29px;
  }
  .metaverse-text p {
    font-size: 12px;
  }
}
@media (max-width: 838px) {
  .container {
    padding-inline: 40px;
  }
}
@media (max-width: 832px) {
  #header {
    padding-block: 34px;
  }
}
@media (max-width: 818px) {
  .main img {
    max-width: 385px;
  }
}
@media (max-width: 815px) {
  .footer-bottom h2 {
    font-size: 14px;
  }
}
@media (max-width: 813px) {
  .metaverse img {
    max-width: 387px;
  }
}
@media (max-width: 803px) {
  .main-text h1 {
    font-size: 29px;
  }
  .main-text p {
    font-size: 14px;
  }
}
@media (max-width: 797px) {
  .metaverse-text h1 {
    font-size: 26px;
  }
}
@media (max-width: 784px) {
  .main img {
    max-width: 372px;
  }
  .main-btn button:last-child {
    padding: 8px 20px;
    font-size: 12px;
  }
  .main-btn button:first-child {
    padding: 11px 26px;
    font-size: 12px;
  }
}
@media (max-width: 770px) {
  .main img {
    max-width: 345px;
  }
}
@media (max-width: 767px) {
  .metaverse img {
    max-width: 362px;
  }
}
@media (max-width: 739px) {
  .metaverse img {
    max-width: 328px;
  }
}
@media (max-width: 742px) {
  .main-text h1 {
    font-size: 27px;
  }
}
@media (max-width: 722px) {
  .main img {
    max-width: 324px;
  }
}
@media (max-width: 702px) {
  .container {
    padding-inline: 33px;
  }
}
@media (max-width: 686px) {
  .main-text h1 {
    font-size: 25px;
  }
}
@media (max-width: 670px) {
  .footer-sait img {
    max-width: 170px;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 669px) {
  .metaverse img {
    max-width: 309px;
  }
  .metaverse-text h1 {
    font-size: 24px;
  }
}

@media (max-width: 656px) {
  .metaverse img {
    max-width: 292px;
  }
}

@media (max-width: 651px) {
  .main-text h1 {
    font-size: 23px;
  }
}
@media (max-width: 639px) {
  .main-btn button:first-child {
    font-size: 9px;
  }
  .main-btn button:last-child {
    font-size: 9px;
  }
}
@media (max-width: 633px) {
  .metaverse-text p {
    font-size: 11px;
    text-align: start;
  }
  .work-title p {
    text-align: start;
    font-size: 12px;
  }

  .metaverse img {
    max-width: 274px;
  }
}
@media (max-width: 630px) {
  .main img {
    max-width: 293px;
  }
}
@media (max-width: 615px) {
  .main-text h1 {
    font-size: 21px;
  }
  .metaverse img {
    max-width: 254px;
  }
  .metaverse-text button {
    padding: 8px 14px;
  }
}
@media (max-width: 595px) {
  .metaverse {
    flex-direction: column;
  }
  .metaverse-text {
    align-items: flex-start;
    text-align: start;
  }
  .metaverse-text button {
    font-size: 11px;
  }
}
@media (max-width: 598px) {
  .main img {
    max-width: 270px;
  }
  .footer p {
    font-size: 13px;
  }
  .footer-bottom h2 {
    display: none;
  }
  .footer-sait img {
    max-width: 150px;
  }
}

@media (max-width: 575px) {
  .main img {
    max-width: 239px;
  }
}
@media (max-width: 542px) {
  .main-text p {
    font-size: 14px;
  }
  #header {
    padding-block: 20px;
  }
  .main-text h1 {
    font-size: 20px;
  }
  .main-btn button:first-child {
    padding: 11px 19px;
  }
  .main-btn button:last-child {
    padding: 8px 17px;
  }
  .main-box {
    gap: 16px;
  }
}
@media (max-width: 530px) {
  .main img {
    max-width: 226px;
  }
}
@media (max-width: 518px) {
  .container {
    padding-inline: 30px;
  }
}
@media (max-width: 511px) {
  .main-text h1 {
    font-size: 18px;
  }
  .main-text p {
    font-size: 15px;
  }
}
@media (max-width: 498px) {
  .main img {
    max-width: 200px;
  }
}
@media (max-width: 472px) {
  .main-btn button:last-child {
    padding: 8px 17px;
  }
  .main-btn button:first-child {
    padding: 8px 17px;
  }
}
@media (max-width: 465px) {
  .main img {
    max-width: 184px;
  }
}
@media (max-width: 451px) {
  .main-text {
    gap: 15px;
  }
  .main-btn {
    gap: 11px;
  }
}
@media (max-width: 449px) {
  .main img {
    max-width: 176px;
  }
}
@media (max-width: 441px) {
  .main-box {
    display: none;
  }
  .main-text p {
    max-width: 220px;
  }
  .main-text h1 {
    font-size: 25px;
    max-width: 320px;
  }
  .main img {
    max-width: 260px;
  }
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-text {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 351px) {
  .metaverse img {
    max-width: 284px;
  }
  .work-title,
  .latest-title p {
    text-align: start;
  }
  .work-box1,
  .work-box2 {
    display: none;
  }
  .work-title h1 {
    font-size: 26px;
  }
  .work-title p {
    font-size: 15px;
  }
  .work-box p {
    font-size: 11px;
    text-align: start;
  }
  .latest-title h1 {
    font-size: 27px;
  }
  .latest-title p {
    font-size: 13px;
  }

  .latest-text {
    display: flex;
    flex-direction: column;
  }
  .work-box h2 {
    font-size: 19px;
  }
  .work-btn button:last-child {
    padding: 7px 12px;
    font-size: 13px;
  }
  .work-btn button:first-child {
    padding: 8px 21px;
    font-size: 13px;
  }

  .work-box,
  .work-box1,
  h2 {
    font-size: 21px;
  }
  #footer {
    padding-block: 20px;
  }
  .footer-sait img {
    width: 26px;
  }
  .footer li {
    font-size: 11px;
  }
  .footer-text h1 {
    font-size: 35px;
  }
  .footer p {
    font-size: 11px;
  }
  .latest img {
    padding-block: 20px;
  }
}
@media (max-width: 320px) {
  .latest-title h1 {
    font-size: 24px;
  }
  .work-title p {
    font-size: 12px;
  }
  #work {
    padding-block: 20px;
  }
}
/* }
@media (max-width: 434px) {
  .main-btn button:last-child {
    padding: 8px 9px;
  }
  .main-btn button:first-child {
    padding: 8px 11px;
  }
}
@media (max-width: 428px) {
  .main-box span {
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  .main img {
    max-width: 161px;
  }
}
@media (max-width: 397px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-text{
    text-align: center;
    align-items: center;
  }
  .main-box{
    display: none;
  }
  .main-text h1{
    max-width: 420px;
  }
} */
