* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  /* outline: 1px solid blue; */
}
.header a,
p,
li {
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
a {
  color: azure;
}
p {
  color: rgba(255, 255, 255, 0.8);
}
h1,
span {
  font-family: Orbitron, sans-serif;
}
button {
  border: none;
  font-size: clamp(0.75rem, 0.684rem + 0.33vw, 1rem);
  font-weight: 400;
  color: #fff;
}
body {
  background-color: #010209;
}

.container {
  width: 100%;
  max-width: 1540px;
  margin-inline: auto;
  padding-inline: 70px;
}
#header {
  padding-block: 30px;
}
#header.container {
  width: 100%;
  max-width: 1540px;
  margin-inline: auto;
  padding-inline: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav {
  display: flex;
  gap: 30px;
}
nav a {
  font-weight: 400;
  font-size: clamp(0.75rem, 0.684rem + 0.33vw, 1rem);
}
.burger-menu {
  display: none;
  justify-content: flex-end;
}
.header h1 {
  font-size: 25px;
}
.main {
  padding-block: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-text h1 {
  max-width: 490px;
  font-size: 40px;
}
.main-text h1 span {
  color: rgb(164, 62, 198);
}

.main img {
  width: 100%;
  max-width: 460px;
}
.main-text span {
  font-family: Orbitron, sans-serif;
}
.main-text p {
  text-align: start;
  max-width: 550px;
  font-weight: 400;
  font-size: 20px;
}
.main-btn {
  display: flex;
  gap: 20px;
}
.main-btn button:first-child {
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 14px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
}
.main-btn button:last-child {
  padding: 15px 30px;
  border-radius: 5px;
  background: none;
  font-size: 14px;
  border: 1px solid violet;
}
.main-box {
  display: flex;
  gap: 30px;
  /* width: 100%; */
  /* max-width: 240px; */
}

.main-box p {
  font-size: clamp(0.75rem, 0.652rem + 0.49vw, 1.125rem);
  font-weight: 400;
}
.main-box span {
  font-size: clamp(1rem, 0.852rem + 0.74vw, 1.563rem);
  font-weight: 500;
}
#metaverse {
  padding-block: 40px;
}
.metaverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.metaverse-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.metaverse img {
  max-width: 550px;
  width: 100%;
}
.metaverse-text h1 {
  font-size: 35px;
}

.metaverse-text h1 span {
  background-image: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.metaverse-text button {
  font-size: 12px;
}
.metaverse-text p {
  text-align: start;
  font-size: 18px;
  max-width: 520px;
}
.metaverse-text button {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  font-size: 14px;
}
#work {
  padding-block: 50px;
}
.work-title, .latest-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.work-title p,
.latest-title p {
  font-size: 20px;
  font-weight: 400;
  max-width: 670px;
  text-align: center;
}
.work-title,
.latest-title,
h1 {
  /* width: 100%; */
  font-size: 30px;
}
.work-title .latest-title h1,
span {
  background-image: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.work-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: rgb(35, 17, 8);
  width: 336px;
  padding: 15px 15px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.work-box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: rgb(35, 17, 8);
  width: 336px;
  padding: 15px 15px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.work-box,
.work-box1,
img {
  width: 100%;
  max-width: 340px;
}
.work-box,
.work-box1,
h2 {
  font-size: 20px;
  font-family: Orbitron, sans-serif;
}
.work-box.work-box1,
p {
  text-align: start;
  font-size: 14px;
}
.work-btn button:first-child {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  font-size: 14px;
}
.work-btn button:last-child {
  padding: 9px 18px;
  border-radius: 5px;
  font-size: 15px;
  background: none;

  border: 1px solid violet;
}
.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.latest img {
  width: 100%;
  max-width: 1400px;
}
#footer {
  background: rgba(9, 8, 35, 1);
  margin-top: 50px;
  padding-block: 100px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-text p {
  max-width: 400px;
}
.footer-text h1 {
  font-size: 40px;
  background-image: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer-nav ul {
  color: #fff;
}
.footer-nav nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
li {
  list-style: none;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer-bottom h2 {
  font-size: 16px;
}
.footer-sait {
  display: flex;
}
.footer-sait img {
  width: 100%;
  max-width: 200px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.footer p {
  text-align: start;
  font-size: 18px;
}
.footer li {
  text-align: start;
  font-size: 14px;
}

.footer-nav nav ul li:first-child {
  font-family: Orbitron, sans-serif;
  font-size: 20px;
}

.latest-text {
  display: none;
}
